<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прогнозирование временного ряда</title>
</head>
<body>
    <h1>Тестирование модели</h1>

    <form action="{{ url_for('predict_xom') }}" method="post">
        <label for="model_val">Выбрать модель</label>
        <select id="model_val" name="model_name">
            {% for model in models %}
<option value="{{model}}">{{model}}</option>
            {% endfor %}
        </select>
<input type="text" name="date" , placeholder="Дата: Год-Месяц-День">
        <input type="submit" value="Сделать прогноз">
    </form>
<h2>График цены и прогноза цены </h2>
<img src= "https://i.ibb.co/mq16HRy/prophetforecast3.jpg" width="900" height="600" />
</body>
</html>